*, html {
    margin:0;
    padding:0;  
}

#enterform {
    padding: 70px 0;
    text-align: center;
}

label {
	color: #a48d28;
	font-size: 35;
	font-family: 'MedievalSharp', cursive;
}



#name {
	 background-color: #CFB53B;
	 background-image: url("parchment.jpg");
	 border-style: groove;
	 width: 25%;
	 height: 5%;
	 font-size: 35;
	 border-radius: 10px;
	 color: black;
	 font-family: 'MedievalSharp', cursive;
}

#submit {

	background-color: #CFB53B;
	color: #000000;
	border-radius: 10px;
	padding: 3px;
	margin-top: 20px;
	font-size: 35;

	font-family: 'MedievalSharp', cursive;
}

#indextitle {
	text-align: center;
	font-family: 'MedievalSharp', cursive;
	color: #1C7C54;
	background-color: #CFB53B;
	font-size: 60px;
}

body {
    background-color: #d1e5bc;
}