*, html {
    margin:0;
    padding:0;  
}

#leftcolumn {
	width: 25%;
	float: left;
  position: relative;
  height: 90%;
}

#middlecolumn {
	position:relative;
	width: 50%;
	float: left;
	height: 90%;
}

#rightcolumn {
	width: 25%;
	float: left;
}

#chatwindow {
  right: 8;
  bottom: 30px;
  left: 8;
  max-height: 70%;
  margin: 0;
  padding: 10px;
  list-style: none;
  background-image: url("parchment.jpg");
  background-color: #F1F1D4;
  background-attachment: local;
  color: black;
  font-family: 'MedievalSharp', cursive;
  line-height: 1.6em;

  overflow: auto;
 
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}



#textfield {
	position: absolute;
	bottom: 10;

	width:100%;
}

#aliasfield {

  width:90%;
  margin-right:5%;
  margin-left:5%;
  position: absolute;
  bottom: 10px;
}

#characters {
  margin-top: 6px;
}

#characters li {
  text-align: center;
  padding:2px;
}

#characters li a {
  padding: 10px 4px;
}

#threadfield {
  margin-top: 5px;
  margin-bottom: 5px;
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #667F4C;
    background-color: #8DAF69;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'MedievalSharp', cursive;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #667F4C;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #667F4C;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#chattitle {
  text-align: center;
  font-family: 'MedievalSharp', cursive;
  color: #1C7C54;
  background-color: #CFB53B;
  font-size: 60px;
}

#options {
  margin-top: 6px;
  text-align: center;
  padding:2px;
  font-family: 'MedievalSharp', cursive;
}

#rolls {
  margin-top: 6px;
  text-align: center;
  padding:2px;
  font-family: 'MedievalSharp', cursive;
}

#uploader {
  padding: 3px;
  margin: 0 5%;
}

#rollchat {
  list-style:none;
}

#rollchat li {
  font-size: 12px;
  padding: 1px;
}

button {

  background-color: #CFB53B;
  color: #000000;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 20;
  padding: 3px;
  font-family: 'MedievalSharp', cursive;
}

#textfield, #aliasfield, #threadfield {
   background-color: #CFB53B;
   background-image: url("parchment.jpg");
   border-style: groove;
   font-size: 15;
   border-radius: 5px;
   font-family: 'MedievalSharp', cursive;
   color: black;
}

#textfield::-webkit-input-placeholder, #aliasfield::-webkit-input-placeholder, #threadfield::-webkit-input-placeholder {
  color: black;
}

body {
    background-color: #d1e5bc;
}