<html>
    <head>
        <title>Flask-SocketIO-Chat</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
                $('#chatwindow').scrollTop($('#chatwindow')[0].scrollHeight);
            });
            var socket;
            var activeThread;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    console.log(data.msg);
                    $('#chat').append('<li>&lt;'+data.msg+'&gt;</li>');
                    // $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chatwindow').scrollTop($('#chatwindow')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    console.log(data.msg);
                    $('#'+data.thread).find('#chat').append('<li>'+data.msg+'</li>');
                    // $('#chat').val($('#chat').val() + data.msg + '\n');
                    $('#'+data.thread).find('#chatwindow').scrollTop($('#'+data.thread).find('#chatwindow')[0].scrollHeight);
                });
                socket.on('diceroll', function(data) {
                    console.log(data.msg);
                    $('#rollchat').append('<li>'+data.msg+'</li>');
                    // $('#chat').val($('#chat').val() + data.msg + '\n');
                    $('#rolls').scrollTop($('#rolls')[0].scrollHeight);
                });
                $('#textfield').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#textfield').val();
                        $('#textfield').val('');
                        socket.emit('text', {msg: text, thread: activeThread});
                    }
                });
                $('#aliasfield').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        name = $('#aliasfield').val();
                        if (name.length>0){
                            socket.emit('character', {msg: name, thread: activeThread});
                        }
                        $('#aliasfield').val('');
                    }
                });
            });

            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    // go back to the login page
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }

        function openConvo(evt, convoName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i=0;i<tabcontent.length;i++){
                tabcontent[i].style.display="none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for(i=0;i<tablinks.length;i++){
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(convoName).style.display = "block";
            activeThread=convoName;
            console.log(convoName);
            evt.currentTarget.className += " active";
        }
        </script>
    </head>
    <body>
        <h1>Flask-SocketIO-Chat</h1>
        <div id="pagewrap">
            <div id="leftcolumn">
                <div id="characters"><p>characters here</p></div>
                <input id="aliasfield" size="80" placeholder="Enter a new character name">
                <ul class="tab">
                    <!-- <li><a href="javascript:void(0)" class="tablinks" onclick="openConvo(event, 'main')" id="defaultOpen">main</a></li>
                    <li><a href="javascript:void(0)" class="tablinks" onclick="openConvo(event, 'convo2')">convo2</a></li> -->
                    {% for thread in campaign.data['messages'] %}
                        <li><a href="javascript:void(0)" id="{{thread}}link" class="tablinks" onclick="openConvo(event, '{{thread}}')">{{thread.title()}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="middlecolumn">
<!--            <div id="convo2" class="tabcontent">
                    <span onclick="this.parentElement.style.display='none'">x</span> 
                    <div id="chatwindow">
                        <ul id="chat">
                        {% for line in campaign.data['messages']['main'] %}
                            <li>{{line.sender+': '+line.text}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                        
                </div>
                <div id="main" class="tabcontent">
                    <div id="chatwindow">
                        <ul id="chat">
                            {% for line in campaign.data['messages']['main'] %}
                                <li>{{line.sender+': '+line.text}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>   -->
                {% for thread in campaign.data['messages'] %}
                    <div id="{{thread}}" class="tabcontent">
                        <div id="chatwindow">
                            <ul id="chat">
                                {% for line in campaign.data['messages'][thread] %}
                                    <li>{{line.sender+': '+line.text}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                <input id="textfield" size="80" placeholder="Enter your message here"><br><br>
            </div>
            <div id="rightcolumn">
                <div id="options"><p>options here</p>
                    <form method="post" enctype="multipart/form-data" action="/uploader">
                        <input type="file" name="file">
                        <input type="submit">
                    </form>
                </div>
                <div id="macros"><p>macros here</p></div>
                <div id="rolls"><p>rolls here</p>
                    <ul id="rollchat">

                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>